@using CalleStore.ViewModels
@model ProductVM
@{
    ViewData["Title"] = "Product";
}
@{
    var categoriaNome = Model.CategoriaSelecionada != null ? Model.CategoriaSelecionada.Nome : "Promoções";
}

<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width-device-width, initial-scale=1.0" />
    <title>CALLE STORE</title>
    <link rel="stylesheet" href="~/css/site.css">
    <link rel="stylesheet" href="~/css/product.css">
</head>

<body>
    <header>
        <a href="@Url.Action("Index", "HOME")"><img id="logo" src="~/img/logo.png"></a>
        <input type="search" placeholder="procurar">
        <div class="login">
            <img src="~/img/login.png">
            <div class="loginRegister">
                <a href="@Url.Action("Login", "Home")" target="_blank">Login | </a>
                <a href="#" target="_blank">Registrar</a>
            </div>
        </div>
        <img src="~/img/shoppingcar.png">
    </header>
    <hr>
    <!--MENU-->
    <nav>
        <ul>
            <li>
                <a href="@Url.Action("Index", "Home")">Inicio</a>
            </li>
            <li class="dropdown">
                <a href="#" class="dropbtn">Produtos</a>
                <div class="dropdown-content">
                    @foreach (var categoria in Model.Categorias)
                    {
                        <a href="@Url.Action("Index", "Home", new { categoryId = categoria.Id })">@categoria.Nome</a>
                    }
                </div>
            </li>
            <li>
                <a href="#">Contato</a>
            </li>
            <li>
                <a href="#">Sobre</a>
            </li>
            <li>
                <a href="#">Ofertas</a>
            </li>
            <li>
                <span>
                    <a href="#">ZN</a>
                </span>
            </li>
        </ul>
    </nav>
<!--DETALHES E IMAGENS-->
<main>
    <div class="container-detalhes-imagens">
        <div class="imagens-pequenas">
            <!--imagens pequenas do produto-->
            <img src="~/img/produtos/@Model.Produto.Foto">
            <img src="~/img/produtos/@Model.Produto.Foto">
            <img src="~/img/produtos/@Model.Produto.Foto">
        </div>
            <!--imagem maior do produto-->
        <div class="imagem-maior"><img src="~/img/produtos/@Model.Produto.Foto"></div>
        <div class="detalhes">
            <!--detalhamento dos produtos, nome, preço, etc-->
            <div class="descricaoNome">
                <p>@Model.Produto.Nome</p>
            <p>R$@Model.Produto.Preco.ToString("N2")</p>
            </div>
            <div class="tamanho-quantidade">
                <div class="tamanho">
                    <p>TAMANHO:</p>
                    <button>P</button>
                    <button>M</button>
                    <button>G</button>
                    <button>GG</button>
                </div>
                <div class="quantidade">
                    <p>QUANTIDADE:</p>
                    <input type="number" name="" id="quantProduto">
                </div>
            </div>
            <button class="btnDetalhes">CHAT <i class="fa fa-whatsapp"></i></button>
            <div class="frete">
                <h4>Calcular Frete</h4>
                <label for="">CEP</label>
                <input type="number" class="inputFrete" >
                <button type="button" id="calcFrete" class="btnDetalhes">Calcular</button>
            </div>
        </div>
        
    </div>
    <!--FRASE-->
<div class="frase">
<h2>By skateboarder for skateboarders</h2>
</div>
<!--DESCRIÇÃO-->
<div class="container-descricao">
    <div class="descricao">
        <h1>Especificações</h1>
        <p>@Model.Produto.Descricao</p>
    </div>
    <div class="medidas">
        <h1>Medidas Aproximadas @Model.Produto.Nome</h1>
        <p>P - Comprimento: 72 cm/ Tórax: 50 cm/ Manga: 21 cm</p>
        <p>M - Comprimento: 77 cm/ Tórax: 53 cm/ Manga: 23 cm</p>
        <p>G - Comprimento: 82 cm/ Tórax: 56 cm/ Manga: 25 cm</p>
        <p>GG - Comprimento:82 cm/ Tórax: 60 cm/ Manga: 25 cm</p>
        <p>EXG - Comprimento: 84 cm/ Tórax: 63 cm/ Manga: 25 cm</p>
    </div>
</div>
</main>
</div>
<footer>
        <!--RODAPÉ - PAGAMENTOS, SOBRE NOS, ETC-->
        <div class="primeiroContainer">
            <div class="formasPagamento">
                <p>FORMAS DE PAGAMENTO</p>
                <div class="bandeiras">
                    <img src="~/img/visa-logo.jpg" alt="Visa">
                    <img src="~/img/mastercard-logo.jpg" alt="MasterCard">
                    <img src="~/img/pix-logo.jpg" alt="Pix">
                    <img src="~/img/elo-logo.jpg" alt="Elo">
                    <img src="~/img/boleto-logo.jpg" alt="Boleto">
                    <img src="~/img/mercadopago-logo.jpg" alt="MercadoPago">
                </div>
                <div class="formasEnvio">
                    <p>FORMAS DE ENVIO</p>
                    <div class="logosEnvio">
                        <img src="~/img/envios.jpg" alt="Correios">
                    </div>
                </div>

            </div>
        </div>
        <div class="segundoContainer">
            <img class="skateImage" src="~/img/CALLE LOGO.png" alt="Skate Calle">
            <div class="contatos">
                <p>CONTATOS</p>
                <p>(14) 998915714</p>
                <p>jpbfskateboard8@gmail.com</p>
                <p>Rua:New adress</p>
            </div>
        </div>
        <div class="terceiroContainer">
            <div class="socialMedia">
                <p>REDES SOCIAIS</p>
                <img src="~/img/" alt="Instagram">
                <img src="~/img/" alt="Facebook">
            </div>
            <p>CADASTRE-SE E RECEBA NOSSOS LANÇAMENTOS!</p>
            <a href="#">Enviar</a>

        </div>
        <!--RODAPÉ - PAGAMENTOS, SOBRE NOS, ETC-->
    </footer>
</body>